/* LuaInspect CSS styles */

.id { cursor: pointer }
.id.local { color: #000080; }
.id.local.param { color: #000040 }
.id.local.upvalue { color: #0000ff }
.id.local.unused { color: #ffffff; background-color: #000080 }
.id.global.recognized { color: #800000 }
.id.global.unrecognized { color: white; background-color: red }
.id.field.recognized { color: #600000 }
.id.field.unrecognized { color: #c00000 }
.id.mutatebind { font-style: italic }
.comment { color: #008000 }
.string { color: #00c000 }
.keyword { color: #505050; font-weight: bold }
.keyword.highlight { text-decoration: underline }
.masking { text-decoration: underline }
.masked { /*text-decoration: line-through*/ }

.id.highlight {background-color: #ffe0e0}
.lua-source-linenums .highlight {background-color: #e0e0e0}


.info { position: absolute; display: none; padding: 0.5em; background-color: #f0f0f0; border: 1px solid #808080; margin: 1.5em 0.5em }

.lua-source { line-height: 14pt; font-size:12pt; font-size:90% }
.lua-source-linenums { float: left; }
.lua-source-content { float: left; margin-left: 1em; }
.lua-source-clear { clear: both; }
/* line-height: http://stackoverflow.com/questions/1427426/text-not-aligning-in-html-using-css */
